<!--Error page by: https://codepen.io/remid/pen/YOVawm-->

<head>

    <meta charset="UTF-8">
    <title>Oops, data problems</title>
    <meta content="noindex" name="robots">
    <link href="https://codepen.io/remid/pen/YOVawm" rel="canonical">
    <!--  <link rel="stylesheet" href="../static/css/errors.css">-->
    <link href="{{ url_for('static',filename='css/errors.css') }}" rel="stylesheet">
    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeConsoleRunner-d8236034cc3508e70b0763f2575a8bb5850f9aea541206ce56704c013047d712.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-4793b73c6332f7f14a9b6bba5d5e62748e9d1bd0b5c52d7af6376f3d1c625d7e.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRuntimeErrors-4f205f2c14e769b448bcf477de2938c681660d5038bc464e3700256713ebe261.js"></script>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
    <script crossorigin=""
            src="https://cdpn.io/cp/internal/boomboom/pen.js?key=pen.js-109520ee-9777-f059-9bc3-c8554ec06d44"></script>
</head>

<body>
<main class="container">
    <article class="content">
        <p>There is a problem with your data</p>
        <p>{{ validationError }}</p>
        <p>
            <button onclick="location.href='http://95.217.131.11:60008/'">Home</button>
        </p>
    </article>
</main>
</body>